
<% if @staff.errors.any? %>
  <% @staff.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<% if @staff.user_id == current_user.id %>

<div class="page-header">
  <h3>Edit Profile: <%= @staff.first_name %>
<a href="/users/edit" class="btn btn btn-warning" style="float: right;">Need to change your email or password?</a></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_staff/<%= @staff.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for first_name -->
      <div class="form-group">
        <label for="first_name" class="control-label">
          First name
        </label>

        <input type="text" id="first_name" name="first_name" placeholder="First name" class="form-control" value="<%= @staff.first_name %>">
      </div>

      <!-- Label and input for last_name -->
      <div class="form-group">
        <label for="last_name" class="control-label">
          Last name
        </label>

        <input type="text" id="last_name" name="last_name" placeholder="Last name" class="form-control" value="<%= @staff.last_name %>">
      </div>

      <!-- Label and input for contact_telephone -->
      <div class="form-group">
        <label for="contact_telephone" class="control-label">
          Contact telephone
        </label>

        <input type="text" id="contact_telephone" name="contact_telephone" placeholder="Contact telephone" class="form-control" value="<%= @staff.contact_telephone %>">
      </div>

      <!-- Label and input for avatar_url -->
      <div class="form-group">
        <label for="avatar_url" class="control-label">
          Avatar url
        </label>

        <input type="text" id="avatar_url" name="avatar_url" placeholder="Avatar url" class="form-control" value="<%= @staff.avatar_url %>">
      </div>

      <!-- Label and input for home_restaurant_id -->
      <div class="form-group">
        <label for="home_restaurant_id" class="control-label">
          Home restaurant
        </label>

        <%= select_tag(:home_restaurant_id, options_from_collection_for_select(Restaurant.all, :id, :restaurant_name, @staff.home_restaurant_id), :class => "form-control") %>
      </div>

      <input type="hidden" name="role_id" "<%= @staff.role_id %>">
      <input type="hidden" name="user_id" value="<%= @staff.user_id %>">
      <input type="hidden" name="verified" value="<%= @staff.verified %>">

      <button class="btn btn-warning">
        Update Profile
      </button>
      or
      <a href="/staffs/<%= @staff.id %>">Cancel</a>
    </form>
  </div>
</div>

<% elsif @staff.home_restaurant.user_id == current_user.id %>

<div class="page-header">
  <h3>Verify Staff: <%= @staff.first_name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_staff/<%= @staff.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


<input type="hidden" name="first_name" value="<%= @staff.first_name %>">
<input type="hidden" name="last_name" value="<%= @staff.last_name %>">
<input type="hidden" name="contact_telephone" value="<%= @staff.contact_telephone %>">
<input type="hidden" name="avatar_url" value="<%= @staff.avatar_url %>">
<input type="hidden" name="home_restaurant_id" value="<%= @staff.home_restaurant_id %>">
<input type="hidden" name="user_id" value="<%= @staff.user_id %>">

      <!-- Label and input for role_id -->
      <div class="form-group">
        <label for="role_id" class="control-label">
          Role
        </label>
        <%= select_tag(:role_id, options_from_collection_for_select(Role.where(restaurant: @staff.home_restaurant_id), :id, :role_name, @staff.role_id), :class => "form-control") %>
      </div>

      <!-- Label and input for verified -->
      <div class="checkbox">
        <label for="verified">
          <input type="checkbox" id="verified" name="verified" value="1" <%= "checked" if @staff.verified %>>
          Verified
        </label>
      </div>

            <button class="btn btn-warning">
              Update Profile
            </button>
            or
            <a href="/staffs/<%= @staff.id %>">Cancel</a>
          </form>
        </div>
      </div>
    <% else %>
    <br />
    <div class="alert alert-danger">
      <strong>Unauthorized action:</strong> You are not authorized to perform this action!
    </div>
    <div class="btn-group btn-group-justified">
      <a href="/" class="btn btn-primary">
        <i class="glyphicon glyphicon-home"></i>  Home
      </a>
    </div>
    <% end %>
