<div class="page-header">
  <h1>
    Employees
  </h1>
<br />

<div class="row">
  <div class="col-md-12">
      <% @staffs.each do |staff| %>
      <div class="col-xs-2">
          <div class="panel panel-primary">
            <div class="panel-body" style="text-align: center;">
              <h4><%= staff.first_name %></h4>
            <a href="/staffs/<%= staff.id %>">
            <img src="<%= staff.avatar_url %>" height="100" style="margin: auto;">
            </a>
            <% if staff.home_restaurant.present? %>
          <h5><a href="/restaurants/<%= staff.home_restaurant.id %>"><%= staff.home_restaurant.restaurant_name %></a></h5>
          <% else %>
          <h5><%= staff.contact_telephone %></h5>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<a href="/staffs/new" class="btn btn-success"><i class="glyphicon glyphicon-plus-sign"></i> Add New Employee</a>
