<div class="page-header">
  <h2><%= @staff.first_name %> <%= @staff.last_name %></h2>
</div>

<div class="row">
  <div class="col-md-4 mb-2">
    <img src="<%= @staff.avatar_url %>" class="img-responsive">
  </div>
  <div class="col-md-6 mb-2">
        <h3 style="bold">About <%= @staff.first_name %>:</h3>


    <dl class="dl-horizontal">
      <dt>First name</dt>
      <dd><%= @staff.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @staff.last_name %></dd>

      <dt>Contact telephone</dt>
      <dd><%= @staff.contact_telephone %></dd>

      <dt>Role</dt>
      <% if @staff.role.present? %>
      <dd><a href ="/roles/<%= @staff.role.id %>"><%= @staff.role.role_name %></a></dd>
      <% end %>

      <dt>Restaurant</dt>
      <dd>
        <% if @staff.home_restaurant.present? %>
          <a href="/restaurants/<%= @staff.home_restaurant_id %>">
            <img src="<%= @staff.home_restaurant.logo_url %>" class="img-responsive">
          </a>
        <% end %>
      </dd>

    </dl>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3><%= @staff.first_name %>'s schedule:</h3><br />
      <% @jobs.each do |job| %>
      <div class="col-xs-2">
          <div class="panel panel-primary">
            <div class="panel-body" style="text-align: center;">
              <h5><%= job.restaurant.restaurant_name %></h5>
              <h4><%= job.start_time.strftime("%a, %b %d") %></h4>
              <h4><a href="/jobs/<%= job.id %>/edit"><%= job.start_time.strftime("%l:%M %p") %></a></h4>
        </div>
      </div>
    </div>
    <% end %>
    <%= paginate @jobs, theme: 'twitter-bootstrap-4', :param_name => 'schedule' %>
  </div>
</div>

<% if @staff.user_id == current_user.id %>
<% if @staff.verified != TRUE %>
<div class="alert alert-warning">
  <strong>User awaiting verification from <%= @staff.home_restaurant.restaurant_name %></strong>
</div>
<% else %>

<div class="row">
  <div class="col-md-12">
    <h3>Pending approval:</h3><br />
      <% @jobs_v.each do |job| %>
      <div class="col-xs-2">
          <div class="panel panel-primary">
            <div class="panel-body" style="text-align: center;">
              <h5><%= job.restaurant.restaurant_name %></h5>
              <h4><%= job.start_time.strftime("%a, %b %d") %></h4>
              <h4><a href="/jobs/<%= job.id %>/edit"><%= job.start_time.strftime("%l:%M %p") %></a></h4>
        </div>
      </div>
    </div>
    <% end %>
    <%= paginate @jobs_v, theme: 'twitter-bootstrap-4', :param_name => 'pending' %>
  </div>
</div>


<div class="row">
<div class="col-md-12">
<h3><%= @staff.role.role_name %> jobs available:</h3><br />
<% @jobs_a.each do |job| %>
<div class="col-xs-2">
    <div class="panel panel-primary">
      <div class="panel-body" style="text-align: center;">
        <h4><%= job.start_time.strftime("%a, %b %d") %></h4>
        <h4><a href="/jobs/<%= job.id %>/edit"><%= job.start_time.strftime("%l:%M %p") %></a></h4>
  </div>
</div>
</div>
<% end %>
<%= paginate @jobs_a, theme: 'twitter-bootstrap-4', :param_name => 'jobs' %>
</div>
</div>

<div class="row">
<div class="col-md-12">
<h3>All <%= @staff.home_restaurant.restaurant_name %> jobs available:</h3><br />
<% @jobs_b.each do |job| %>
<div class="col-xs-2">
    <div class="panel panel-primary">
      <div class="panel-body" style="text-align: center;">
        <h4><a href="/roles/<%= job.role.id %>"><%= job.role.role_name %></a></h4><h4><%= job.start_time.strftime("%a, %b %d") %></h4>
        <h4><a href="/jobs/<%= job.id %>/edit"><%= job.start_time.strftime("%l:%M %p") %></a></h4>
  </div>
</div>
</div>
<% end %>
<%= paginate @jobs_b, theme: 'twitter-bootstrap-4', :param_name => 'jobs_other' %>
</div>
</div>

<% end %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h3><%= @staff.home_restaurant.restaurant_name %> staff:</h3><br />
      <% @staffs.each do |staff| %>
      <div class="col-xs-2">
          <div class="panel panel-primary">
            <div class="panel-body" style="text-align: center;">
              <h4><%= staff.first_name %></h4>
            <a href="/staffs/<%= staff.id %>">
            <img src="<%= staff.avatar_url %>" height="100" style="margin: auto;">
            </a>
          <% if staff.role.present? %>
          <h5><a href ="/roles/<%= staff.role.id %>"><%= staff.role.role_name %></a></h5>
          <% else %>
          <h5> No role present </h5>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>

    <div class="btn-group btn-group-justified">
      <a href="/staffs" class="btn btn-primary">
       <i class="glyphicon glyphicon-arrow-left"></i> Back
      </a>
      <% if current_user == @staff.user %>
        <a href="/staffs/<%= @staff.id %>/edit" class="btn btn-primary">
        <i class="glyphicon glyphicon-pencil"></i> Edit
        </a>
      <% end %>
    </div>
  </div>
</div>
