<% if current_user == @restaurant.user %>
<% if @staff_unverified.count > 0%>
<div class="alert alert-warning">
<strong>Users are awaiting verification</strong>
</div>
<% end %>
<% elsif current_user.staff.verified != TRUE %>
<div class="alert alert-warning">
<strong>You are awaiting verification from <%= current_user.staff.home_restaurant.restaurant_name %></strong>
</div>
<% end %>
<div class="page-header">
  <h1><%= @restaurant.restaurant_name %></h1>
</div>

<div class="row">

  <div class="col-md-6 mb-2">

    <img src="<%= @restaurant.logo_url %>" class="img-responsive">
    <br />
    <h4><i><%= @restaurant.description %></i></h4>
    <h4><b>Contact Name:</b> <%= @restaurant.contact_name %></h4>
    <h4><b>Telephone:</b> <%= @restaurant.contact_telephone %></h4>
    <h4><b>Roles available:</b>
  <% if current_user == @restaurant.user %>
      <a href="/new_role/<%= @restaurant.id %>" class="btn btn btn-success" style="float: right;">Add New Role</a></h4>
      <% end %>

          <% @restaurant.roles.each do |roles| %>
              <h4><a href = "/roles/<%= roles.id %>"><%= roles.role_name %></a></h4>
          <% end %>
    <br />


  </div>
  <div class="col-md-6 mb-2">
    <iframe
      width="550"
      height="400"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=(removed)&q=<%= @restaurant.restaurant_name %>+<%= @restaurant.address %>" allowfullscreen>
    </iframe>
  </div>
</div>

<h3>Upcoming Shifts
  <% if current_user == @restaurant.user %>
<a href="/new_shift/<%= @restaurant.id %>" class="btn btn btn-success" style="float: right;">Add New Shift</a>
<% end %>
</h3><br />
<div class="col-md-12 mb-2">
<% @shifts_b.each do |job| %>
<div class="col-xs-2">
    <div class="panel panel-primary">
      <div class="panel-body" style="text-align: center;">
        <h4><%= job.staff.first_name %></h4>
        <a href ="/staffs/<%= job.staff.id %>"><img src="<%= job.staff.avatar_url %>" height="100" style="margin: auto;"></a>
        <h4><%= job.start_time.strftime("%a, %b %d") %></h4>
        <h4><a href="/jobs/<%= job.id %>/edit"><%= job.start_time.strftime("%l:%M %p") %></a></h4>
  </div>
</div>
</div>
<% end %>
</div>
<%= paginate @shifts_b, theme: 'twitter-bootstrap-4', :param_name => 'upcoming' %>


  <% if current_user == @restaurant.user %>
<% if @shifts_c.count > 0 %>
<h3>Shifts awaiting approval</h3><br />
<div class="col-md-12 mb-2">
<% @shifts_c.each do |job| %>
<div class="col-xs-2">
    <div class="panel panel-primary">
      <div class="panel-body" style="text-align: center;">
        <h4><%= job.staff.first_name %></h4>
        <a href ="/staffs/<%= job.staff.id %>"><img src="<%= job.staff.avatar_url %>" height="100" style="margin: auto;"></a>
        <h4><%= job.start_time.strftime("%a, %b %d") %></h4>
        <h4><a href="/jobs/<%= job.id %>/edit"><%= job.start_time.strftime("%l:%M %p") %></a></h4>
  </div>
</div>
</div>
<% end %>
</div>
<%= paginate @shifts_c, theme: 'twitter-bootstrap-4', :param_name => 'pending' %>
<% end %>

<h3>Unassigned Shifts
<a href="/new_shift/<%= @restaurant.id %>" class="btn btn btn-success" style="float: right;">Add New Shift</a>
<% else %>
<h3>Available Shifts
<% end %>
</h3><br />
<div class="col-md-12 mb-2">
<% @shifts_a.each do |job| %>
<div class="col-xs-2">
    <div class="panel panel-primary">
      <div class="panel-body" style="text-align: center;">
        <h4><a href="/roles/<%= job.role.id %>"><%= job.role.role_name %></a></h4><h4><%= job.start_time.strftime("%a, %b %d") %></h4>
        <h4><a href="/jobs/<%= job.id %>/edit"><%= job.start_time.strftime("%l:%M %p") %></a></h4>

  </div>
</div>
</div>
<% end %>
</div>
<%= paginate @shifts_a, theme: 'twitter-bootstrap-4', :param_name => 'unassigned' %>






<h3><%= @restaurant.restaurant_name %> Staff</h3> <br />
<div class="row">
  <div class="col-md-12">
      <% @staff_verified.each do |staff| %>
      <div class="col-xs-2">
          <div class="panel panel-primary">
            <div class="panel-body" style="text-align: center;">
              <h4><%= staff.first_name %></h4>
            <a href="/staffs/<%= staff.id %>">
            <img src="<%= staff.avatar_url %>" height="100" style="margin: auto;">
            </a>
          <% if staff.role.present? %>
          <h5><%= staff.role.role_name %></h5>
          <% else %>
          <h5>Unassigned Role</h5>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

  <% if current_user == @restaurant.user %>
<% if @staff_unverified.count > 0%>
<h3>Unverified Staff</h3> <br />
<div class="row">
  <div class="col-md-12">
      <% @staff_unverified.each do |staff| %>
      <div class="col-xs-2">
          <div class="panel panel-primary">
            <div class="panel-body" style="text-align: center;">
              <h4><%= staff.first_name %></h4>
            <a href="/staffs/<%= staff.id %>/edit">
            <img src="<%= staff.avatar_url %>" height="100" style="margin: auto;">
            <h5>Verify</h5>            </a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<% end %>
<% end %>

<div class="btn-group btn-group-justified">
  <a href="/restaurants" class="btn btn-primary">
    <i class="glyphicon glyphicon-arrow-left"></i> All Restaurants
  </a>
  <% if current_user == @restaurant.user %>
    <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-primary">
      <i class="glyphicon glyphicon-pencil"></i>
      Edit
    </a>
  <% end %>
</div>
