<div class="page-header">
  <h2><%= @role.role_name %></h2>
    <h4><i><%= @role.description %></i></h4>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <% @role.staffs.each do |staff| %>
    <div class="col-xs-2">
        <div class="panel panel-primary">
          <div class="panel-body" style="text-align: center;">
            <h4><%= staff.first_name %></h4>
          <a href="/staffs/<%= staff.id %>">
          <img src="<%= staff.avatar_url %>" height="100" style="margin: auto;">
          </a>
        <h5><%= staff.contact_telephone %></h5>
      </div>
    </div>
  </div>
  <% end %>
    <div class="btn-group btn-group-justified">
      <a href="/restaurants/<%= @role.restaurant_id %>" class="btn btn-primary">
        Back
      </a>
      <a href="/roles/<%= @role.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_role/<%= @role.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
